#root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url('assets/summer.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

body, html {
  scroll-behavior: smooth;

}

#student-title {
  text-align: center;
}

.card {
  margin-bottom: 20px !important;
}

.buttons{
  top: 90%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* .btn btn-primary {
  margin-left:20px;
} x work mayb bc it looks like a prop-on trips index*/ 


.centered{
  top: 50%;
  left: 55%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.container {
  height: 100%;
  min-height: 100vh;
}