#root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url('assets/ripples.png');
}


html {
  scroll-behavior: smooth;
}

#student-title {
  text-align: center;
}

.card {
  margin-bottom: 20px !important;
}